{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    "@babel/plugin-proposal-object-rest-spread",
    "transform-class-properties"
  ]
}
